.navbar {
    padding-top: 50px;

    .navbar-nav {
        .nav-item {
            .nav-link {
                @include pgap(0, 0, 0, 0);
                @include mgap(30px, 30px, 0, 0);
                @include fonts($para_color, 18px, 400, 'Inter');

                &:hover {
                    color: $hover_color;
                    font-weight: 700;
                }

                transition: all linear .3s;
                -webkit-transition: all linear .3s;
                -moz-transition: all linear .3s;
                -ms-transition: all linear .3s;
                -o-transition: all linear .3s;
            }
        }
    }

    button {
        background-color: $primary_bg;
        @include pgap(42px, 42px, 15px, 15px);
        @include fonts(#fff, 20px, 600, 'Inter');
        border-radius: 10px;
        border: none;
    }
}

// ------nav fixed start------//
.nav-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    z-index: 999;
    animation: sticky ease-in-out 1s;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-animation: sticky ease-in-out 1s;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.navbar.nav-fixed .nav-item.current .nav-link {
    color: $hover_color;
    font-weight: 700;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

@keyframes sticky {
    from {
        top: -80px;
    }

    to {
        top: 0;
    }
}

// ------nav fixed start------//