#portfolio {
    @include pgap(0, 0, 150px, 185px);
    background-color: $secondary_bg;

    .common-header {
        h2 {
            @include fonts($heading_color, 45px, 700, 'Inter');
            padding-bottom: 20px
        }

        p {
            @include fonts($para_color, 16px, 400, 'Inter');
            line-height: 26px;
        }
    }

    .portfoilo-row {
        padding-top: 70px;

        .portfoilo-item {
            @include pgap(0, 0, 0, 30px);
            margin-bottom: 30px;
            background-color: #FFFFFF;
            border-radius: 20px;

            &:hover {
                transform: scale(.8);
                -webkit-transform: scale(.8);
                -moz-transform: scale(.8);
                -ms-transform: scale(.8);
                -o-transform: scale(.8);
            }

            .portfoilo-img {
                img {
                    border-radius: 20px;
                }
            }

            .portfoilo-text {
                padding-top: 30px;

                h3 {
                    @include fonts($heading_color, 20px, 700, 'Inter');
                    padding-bottom: 10px
                }

                p {
                    @include fonts($para_color, 16px, 400, 'Inter');
                    line-height: 26px;
                    @include pgap(45px, 45px, 0, 0);
                }
            }
            transition: all linear .3s;
            -webkit-transition: all linear .3s;
            -moz-transition: all linear .3s;
            -ms-transition: all linear .3s;
            -o-transition: all linear .3s;
}
    }
}